VITE_API_URL=https://686c1b1414219674dcc741df.mockapi.io/api/resenia/productos
VITE_ADMIN_NAME=AdminMadarey
VITE_ADMIN_EMAIL=admin@madarey.com
VITE_API_URL_RESENIAS=https://686c1b1414219674dcc741df.mockapi.io/api/resenia/resenias
